.Footer
{
    display: flex;
    height: 4vh;
    justify-content: flex-end;
    align-items: center;
    background: #333;
}
.Footer span 
{
    color: #FFF;
    padding: 0 1rem;
    font-size: 1rem;
}